.checker {
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

.checker.dark {
  background-color: #795548;
  border: 6px solid #8d6e63;
}

.checker.light {
  background-color: #bcaaa4;
  border: 6px solid #d7ccc8;
}
