.tile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
}

.tile.dark {
  background-color: #4e342e;
}

.tile.can-move-here {
  background-color: #d84315;
}
